In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Summary of Findings**

### **Introduction**

hehehf;cauYR

### **Data Cleaning Steps**

awrhjehfrxr

### **Assessment of Missingness**

lhahedasdasd

### **Hypothesis Test Results**

aliwhdweawdcwd

# **Cleaning and Exploratory Data Analysis**

### **Data Cleaning**

In [10]:
df = pd.read_csv('data/all_transactions.csv')
# splitting up so dataframe is displayable in the final pdf :)
display(df.iloc[:, :8].head())
display(df.iloc[:, 8:].head())

,disclosure_year,disclosure_date,transaction_date,owner,ticker,asset_description,type,amount
0,2021,10/04/2021,2021-09-27,joint,BP,BP plc,purchase,"$1,001 - $15,000"
1,2021,10/04/2021,2021-09-13,joint,XOM,Exxon Mobil Corporation,purchase,"$1,001 - $15,000"
2,2021,10/04/2021,2021-09-10,joint,ILPT,Industrial Logistics Properties Trust - Common...,purchase,"$15,001 - $50,000"
3,2021,10/04/2021,2021-09-28,joint,PM,Phillip Morris International Inc,purchase,"$15,001 - $50,000"
4,2021,10/04/2021,2021-09-17,self,BLK,BlackRock Inc,sale_partial,"$1,001 - $15,000"

,representative,district,ptr_link,cap_gains_over_200_usd
0,Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
1,Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
2,Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
3,Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
4,Hon. Alan S. Lowenthal,CA47,https://disclosures-clerk.house.gov/public_dis...,False

Let's look at the types of the columns to see which ones may need to have their types changed.

In [3]:
df.dtypes

disclosure_year            int64
disclosure_date           object
transaction_date          object
owner                     object
ticker                    object
asset_description         object
type                      object
amount                    object
representative            object
district                  object
ptr_link                  object
cap_gains_over_200_usd      bool
dtype: object

```disclosure_data``` and ```transaction_date``` can be represented in date time, but they are normal objects right now. 

Let's change them to pandas's ```datetime``` objects

In [4]:
# need to have errors = 'coerce', so some weird data gets set to np.nan
df['disclosure_date'] = pd.to_datetime(df['disclosure_date'], errors = 'coerce')
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors = 'coerce')
df.dtypes

disclosure_year                    int64
disclosure_date           datetime64[ns]
transaction_date          datetime64[ns]
owner                             object
ticker                            object
asset_description                 object
type                              object
amount                            object
representative                    object
district                          object
ptr_link                          object
cap_gains_over_200_usd              bool
dtype: object

This next step isn't super important for data analysis, but I'd say it is very important for some readability. If you can't read your data, what will you do??

Let's clean the 'Hon. ' out of every rep's name so it becomes easier to read.

In [5]:
# regex=False to get rid of regex depracated warning
df['representative'] = df['representative'].str.replace('Hon. ', '', regex=False)

Let's create a `state` column so we can do groupby state if we need to in the future.

In [7]:
df['state'] = df['district'].str[:2]
df[['state']].head()

  state
0    NC
1    NC
2    NC
3    NC
4    CA